.calc-row {
	height: 100vh;
	font-family: "Share Tech Mono", monospace;
}

.output-window {
	height: 29vh;
	font-size: x-large;
	word-wrap: break-word;
}

.input-window {
	text-align: end;
	font-size: x-large;
}
