.game-card {
	height: 100vh;
	font-family: "Open Sans", monospace;
}

.card-header {
	font-weight: bold;
	background-color: #004987;
	color: white;
}

#button-start,
#button-clear {
	font-weight: bold;
	margin-top: 10px;
	font-size: 16px;
}

#button-clear {
	background-color: rgba(255, 0, 0, 0.432);
}
